/* css styles */

div.quarto-about-trestles .about-entity .about-links 
{
  flex-direction: row;
  row-gap: 0.5em;
  column-gap: 0.5em;
  padding-bottom: 1em;
}

div.quarto-about-trestles .about-entity .about-link {
  font-size: .8em;
  padding: .25em .5em;
  border-radius: 4px;
}

/*
div.quarto-about-trestles .about-entity .about-link {
    font-size: 1.1em;
    padding: .5em .5em;
    text-align: center;
    border-radius: 6px;
}
*/
