/*-- scss:defaults --*/

// Base document colors
$navbar-bg:  $black;                  // navbar
$navbar-fg:  $white;                  // navbar foreground elements
$navbar-hl:  lighten($unibo_red,10);  // highlight color when hovering over navbar links
$body-bg:    $unibo_gray_dark;        // page background 
$body-color: $white;                  // page text 
$link-color: $unibo_red;              // hyperlinks 
$footer-bg:  darken($unibo_gray,50);  // footer 

// $dropdown-dark-color: #fd7e14;

/*
// Code blocks
$code-block-bg-alpha: -.8;
*/
