/*-- scss:defaults --*/

$h1-font-size:          1.5rem !default;
$h2-font-size:          1.2rem !default;
$h3-font-size:          1.1rem !default;

/*-- scss:rules --*/

/*
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

b, strong {
  font-weight: bold;
}
*/

code {
  font-size: 1em;
  color: #36454F;
}

